

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

form {
  /* display: flex; */
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}
form input {
 height: 40px;
 flex-basis: 80%;
form button {
 flex-basis: 20%;

}